aside.menu-area {
    background-color: #FFF;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #FF8C00;

    width: 100%;
    padding: 10px 40px;
}

.menu a:hover {
    background: linear-gradient(to right, #FFF, #ffd5a1);
}